@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* root styling */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
}
/* root styling ends */

/* layout styling */
.container {
    width: 80%;
    margin: 0 auto;
}

svg {
    max-width: 30%;
}

.min-h-60 {
    min-height: 60vh;
}

.min-h-80 {
    min-height: 80vh;
}

.min-h-100 {
    min-height: 100vh;
}

.h-v-center {
    display: grid;
    place-items: center;
}
/* layout styling ends */

/* Navbar styling */
header {
    display: flex;
    padding: 0 10%;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.2);
}

header a svg {
    display: none;
    cursor: pointer;
}

header .logo {
    width: 5%;
    height: 5%;
    padding: 0.5rem;
    margin-right: auto;
}

.nav-links {
    list-style: none;
}

.nav-links a {
    padding: 1em;
    color: white;
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-links a:hover {    
    color: #a4ddd1;
    transform: scale(1.1);
}
/* navbar styling ends */

/* font styling */
.cursive-font {
    font-weight: 100;
    font-family: cursive;
}

.monospace-font {
    font-family: 'Courier New', Courier, monospace;
}

.times-font {
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}
/* font styling ends */

/* typography styling */
.max-w-60 {
    max-width: 60%;
    padding: 1em auto;
    text-align: center;
}

p {
    font-weight: 600;
    font-size: 1.4rem;
}

.text-center {
    text-align: center;
}

.heading {
    font-size: 2.5rem;
}

.sub-text {
    margin-left: 2%;
}

.bold {
    font-weight: 700;
}

hr {
    margin: 1em 0;
    background-color: #dbbd81;
    border: none;
    height: 0.2rem;
}

.py-1em {
    padding: 1em 0;
}

.py-halfem {
    padding: 0.5em 0;
}
/* typography styling ends */

/* colors styling */
.primary-bg-color {
    background-color: #e6f4f1;
    color: #707070;
}

.secondary-bg-color {
    background-color: #5e82c2;
    color: #e6f4f1;
}

.primary-color {
    color: #e6f4f1;
}

.secondary-color {
    color: #5e82c2;
}
/* color styling ends */

/* cards styling */
.about-card {
    width: 50%;
    text-align: center;
}

.about-card div p {
    font-weight: 500;
}

.cards-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card {
    display: flex;
    margin: 2em auto;
    align-items: center;
    justify-content: space-around;
}

.card > div {
    text-align: center;
    align-self: center;
}

.card-title {
    display: block;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1em;
    border-bottom: 3px solid #dbbd81;
}

.card-body {
    width: 40%;
    text-align: center;
}

.shadow-box {
    padding: 3rem;
    font-weight: 500;
    border-radius: 8px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
}
/* cards styling ends */

/* contact buttons styling */
.button-holder {
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
}

.button-holder a {
    text-decoration: none;
    color: white;
    font-weight: bold;

    flex: 0 1 5%;
    padding: 1em;
    margin: 0.5rem;
    border-radius: 8px;
    transition: all .3s ease-in-out;

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

.button-holder a:hover {
    transform: scale(1.125) !important;
}

.linkedin {
    background-color: #0e76a8;
}

.github {
    background-color: #707070;
}

.twitter {
    background-color: #1da1f2;
}

.mail {
    background-color: #B23121;
}
/* contact section styling ends */

/* small screen sizes upto 400px*/
/* screen sizes upto 900px */
@media screen and (max-width: 992px) {

    header .logo {
        width: 10%;
    }

    .heading {
        font-size: 2rem;
    }

    .about-card {
        width: 80%;
    }

    .about-card div p {
        text-align: left;
    }

    .min-h-80{
        padding: 10% 0;
    }

    p {
        font-size: 1.25em;
    }

    .card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-title {
        font-size: 1.5em;
    }

    .card-body {
        width: 70%;
    }

    svg {
        max-width: 60%;
    }
}

@media screen and (max-width: 420px) {

    header {
        flex-direction: column;
    }

    .nav-links a {
        display: block;
        text-align: center;
        border-bottom: 1px solid white;
    }

    .nav-links {
        display: none;
    }

    .block-display {
        display: block;
    }
    
    header a svg {
        top: 2%;
        right: 5%;
        max-width: 10%;
        display: initial;
        position: absolute;
    }

    header .logo {
        align-self: flex-start;
        width: 20%;
        margin: 0;
    }

    .heading {
        font-size: 1.875rem;
    }

    .max-w-60 {
        max-width: 80%;
    }

    .about-card {
        width: 90%;
    }

    .about-card div p {
        text-align: center;
    }

    p {
        font-size: 1em;
    }

    .card-body {
        width: 90%;
    }

    .min-h-80 {
        padding: 5% 0;
    }

    svg {
        max-width: 80%;
    }

    .button-holder a {
        flex: auto;
    }
}

@media screen and (max-width: 350px) {
    .about-card {
        margin: 1em;
    }
}
