/* 
    color panel

    darkest to lightest
    
    -- Shades of Blue
    1. #353541 -- primary text
    2. #162447 -- (no use till now)
    3. #1a6685 -- links

    -- Pink Shade
    4. #e43f5a -- heading text

    -- Gray Shade
    5. #ececec

*/

/* root element CSS */
* {
    margin: 0px;
    padding: 0px;
    color: #353541;
    font-family: Arial, Helvetica, sans-serif;
}

.bg-pattern {
    background-image: url(./pattern.svg);
    background-color: #ececec;
    background-position: center;
    background-repeat: repeat;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 4rem 0;
}

/* font css */
p {
    font-weight: 600;
    font-size: 1.4rem;
}

.heading {
    font-size: 3rem;
    font-weight: 900;
}

.sub-heading {
    font-size: 2rem;
    font-weight: 900;
    padding-left: 1%;
    border-left: 5px solid #e43f5a;
}

.sub-text {
    margin-left: 2%;
}

.spacing {
    padding: 1rem 0;
    max-width: 70%;
}

.sec-color {
    color: #e43f5a;
}

hr {
    margin: 3em 0;
    background-color: teal;
    border: none;
    height: 0.2rem;
}

/* links css */
a.link {
    color: #00a0c4;
    text-decoration: none;
}

/* cards css */
.cards-holder {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 0.5em;
    padding: 2rem 2rem 0 2rem;
    flex: 0 1 25%;
    border-radius: 4px;
    border: 2px solid #e43f5a;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    filter: invert(1);
    transform: scale(1.05);
    background-color: rgba(190, 190, 190, 0.8);
}

.card-title {
    font-size: 1.6rem;
    color:  #162447;
    text-align: center;
    padding: 0 0 0.5rem 0;
    border-bottom: 2px solid #00a0c4;
}

.card-body {
    margin: 1rem 0;
    text-align: center;
    color: rgb(14, 14, 14);
}

/* button css */
.button-holder {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
}

.button-holder a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.button {
    flex: 0 1 5%;
    padding: 1rem 1rem;
    margin: 0.5rem;
    text-align: center;
    border-radius: 8px;
    transition: all .2s ease-in-out;
}

.button:hover {
    transform: scale(1.125);
}

.linkedin {
    background-color: #0e76a8;
}

.github {
    background-color: #333;
}

.twitter {
    background-color: #1da1f2;
}

.mail {
    background-color: #B23121;
}

/* other css */
.shadow {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* small screen sizes upto 400px*/
/* screen sizes upto 900px */
@media screen and (max-width: 992px) {

    .heading {
        font-size: 2.5rem;
    }

    .sub-heading {
        font-size: 1.5rem;
        font-weight: 700;
        padding-left: 2%;
    }

    .spacing {
        max-width: 70%;
    }

    p {
        font-size: 1.125rem;
    }

    .card {
        flex: 0 1 auto;
    }
}

@media screen and (max-width: 400px) {

    .heading {
        font-size: 1.875rem;
    }

    .sub-heading {
        font-weight: 700;
        font-size: 1.5rem;
        padding-left: 2%;
    }

    p {
        font-size: 1rem;
    }

    .spacing {
        max-width: none;
    }

    .card {
        flex: 0 1 auto;
    }
}
