---
interface Props {
  note: string;
  title: string;
  dayTime: string;
  repoLink: string;
  description: string;
}

const { title, description, note, repoLink, dayTime } = Astro.props;
---

<div
  class="flex max-w-lg flex-col justify-between rounded-lg border-2 border-slate-500 px-8 pb-4 pt-8 text-slate-700 shadow-lg drop-shadow-xl"
>
  <div>
    <a
      href={repoLink}
      target="_blank"
      rel="noopener noreferrer"
      class="text-2xl font-medium text-slate-800 hover:text-teal-700 hover:underline">{title}</a
    >
    <p class="my-4 text-lg">
      {description}
    </p>
  </div>
  <div class="flex items-center justify-between">
    <strong>{dayTime}</strong>
  </div>
</div>
