---
import { workExperience } from '../data/workExperience';
import '../styles/global.css';
---

<!-- CSS is part of global.css -->
<div class="timeline relative mx-auto my-16 max-w-5xl sm:my-32">
  <div>
    {
      workExperience.map((exp) => (
        <div class="card">
          <h3 class="title">{exp.company}</h3>
          <small>{exp.timeWithDuration}</small>
          <p class="mt-3 text-base font-normal">{exp.shortDescription}</p>
          <ul>
            {exp.list.map((listItem) => (
              <p>{listItem}</p>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</div>
